*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 350px;
    width: 350px;
    border:2px solid black;
}
.input{
    width: 100%;
}
.text{
    font-size: 20px;
    display: block;
    height: 15%;
}
.inputs{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div{ 
    height: 70%;
    width: 100%;
    border:2px solid black
}
